*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  height: 100%;
  width:100%;
}

.container{
  position: absolute;
  top: 15%;
  left: 35%;
}

.login-box{
  border: 2px solid #338DFF;
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  align-items: center;
  font-size: 14px;
}

.user-icon{
  background: #338DFF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
}

.user-icon i{
  font-size: 40px;
  color: white;
  right: 2px;
}

.login{
  width: 100%;
}

.form-grp{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login h1{
  margin: 10px;
  padding: 10px;
}
input[type="email"].form-control, input[type="password"].form-control{
  font-size: 12px;
  outline: none;
  width: calc(100%, 36px);
  border: 2px solid #ccc;
  padding: 12px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

input[type="email"].form-control:hover, input[type="password"].form-control:hover{
  border: 2px solid #33C4FF ;
  font-size: 5px;
}
input[type="email"].form-control:focus, input[type="password"].form-control:focus{
  border: 2px solid #33C4FF ;
}

input[type="email"].form-control:active, input[type="password"].form-control:active{
  border: 2px solid #33C4FF ;
}

label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

label input[type="checkbox"]{
  width: 28px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

button{
  outline: none;
  background: #338DFF;
  color: #FFF;
  padding: 16px;
  display: block;
  width: 100%;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  box-shadow: 5px 5px 5px #ccc;
}
